body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
}

#oneLineTable{
    font-size: 14px;
    color: #585858;
    
    };

#main{
    margin-top:6px;
}

col {
    width: 85%;
    padding: 0;
    padding-bottom: 20px;
    max-width: 900px;
}

.nav {
    font-size: 12px;
}

.tab-content {
    color: #41464b;
    font-size: 13px;
    padding-top: 5px;
    padding-left: 5px;
}

#info-container {
    margin-top: 10px;
    padding: 10px;
    max-width: 900px;
}

a {
    color: white !important;
}

hr {
    background-color: #adb5bd;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footers p {
    color: white;
}

.footers ul {
    line-height: 30px;
}

.coin-marquee-header-signature {
    display: none;
}

#coinmarketcap-widget-marquee {
    background-color: #212529 !important;
}

